{% extends 'main/layout.html' %}
{% load static %}
<!--link-->
{% block link%}
    <link rel="stylesheet" href="{% static 'main/css/for_buy_ship_page.css' %}">
    <link rel="stylesheet" href="fonts/AudiTypeScreen-Light/style.css" type="text/css" />
    
{% endblock %}

<!--title-->
{% block title %}
    Покупка и доставка
{% endblock %}

<!--header-->
{% block header%}
    
{% endblock %}

<!-- Блок с картинкой -->
{% block Article%}
    <div id = "div_slogan"><p id = "Slogan">Процесс покупки/доставки авто </p></div>
    <p id = "slogan2" data-aos="fade-right">Компания DREAM CARS создана профессионалами автобизнеса и предлагает совершенно новый подход к покупке американского авто. Стремясь максимально удовлетворить потребности каждого нашего клиента мы разработали схему шагов заказа авто из США:</p>
{% endblock %}

<!--main-->
{% block main%}
    <main>
        <article>
            <h1>Работаем в три шага</h1>
            <div class = "steps1" data-aos="fade-right">
                <h2>Заключение договора на наши услуги</h2>
                <div id = "first_img_div">

                </div>
                <div id = "first">
                    <p>
                        подбор вариантов
                        предоставление возможности приобретения авто на аукционах США
                        доп. услуга: предоставление отчётов Carfax и Autocheck
                        доп. услуга: заказ осмотра
                        доставка авто перевозчиками.
                        Оплата стоимости наших услуг: 600 — 700 BYN
        
                        Мы подбираем для Вас варианты в соответствии с Вашими требованиями. 
                        Варианты предоставляем Вам вместе с расчётом окончательных расходов.
                        Отдельно можно заказать отчёт Carfax и Autocheck, при необходимости с осмотром.
        
                    </p>
                </div>
            </div>
            <hr>
            <div class = "steps2" data-aos="fade-left">
                <h2>Торги на аукционе</h2>
                <div id = "second_img_div">

                </div>
                <div id = "second">
                    <p>Вы можете присутствовать во время аукциона за желаемый авто у нас в офисе (или же мы по Вашей 
                        просьбе торгуемся за авто до той максимальной суммы, 
                        которую Вы указали). Если не выигрываем, то подбираем следующий вариант, пока 
                        не выиграем. Если мы выигрываем автомобиль на аукционе, то ожидаем подтверждения того, 
                        что продавец отдает нам автомобиль.
                    </p>
                </div>
            </div>
            <hr>
            <div class = "steps3" data-aos="fade-right">
                <h2>Заключение договора</h2>
                <div id = "third_img_div">

                </div>
                <div id = "third">
                    <p>
                        До покупки автомобиля на аукционе заключается договор на покупку и доставку авто. 
                        Вам необходимо оплатить предоставленный инвойс (счёт) на оплату в течение 2 (двух) 
                        календарных дней.
                
                    </p>
                </div>
            </div>

        </article>
    </main>
    
{% endblock %}