{% extends 'main/layout.html' %}
{% load static %}
<!--link-->
{% block link%}
    <link rel="stylesheet" href="{% static 'main/css/for_owner_page.css' %}">
    <link rel="stylesheet" href="fonts/AudiTypeScreen-Light/style.css" type="text/css" />
    <link rel="stylesheet" href="{% static 'main/da/ubuntu.css' %}" type="text/css" />
    <link rel="stylesheet" href="fonts/AudiTypeScreen-Light/style.css" type="text/css" />
{% endblock %}

<!--title-->
{% block title %}
    О компании
{% endblock %}

<!--header-->
{% block header%}
    
{% endblock %}

<!-- Блок с картинкой -->
{% block Article%}
    <div id = "div_slogan" data-aos="fade-up" data-aos-anchor-placement="center-bottom"><p>О компании </p></div>
{% endblock %}

<!--main-->
{% block main%}
    <main>
        <article>
            <h1 data-aos="fade-right">«DREAM CARS»</h1>
        <div class = "first_container">

            <div id = "img">

            </div>

            
            <p>Наша компания работает на американском рынке уже более 10лет. Более 3 лет мы работаем на рынке России.</p>

            <p>Работаем без посредников, поэтому можем предложить самую низку цену на авто. Мы ценим своих клиентов и сопровождаем их на всех этапах сделки. Благодаря этому наши клиенты получают проверенный автомобиль без переплат и сюрпризов.</p>
                
            <p>На данный момент у нас более 1200 постоянных клиентов, которым мы помогли выбрать и приобрести более 5000 авто из США на заказ.</p>
                
            <p>Вначале 2021г наша компания вышла на автомобильный рынок РФ, открыв несколько офисов в крупных городах страны.</p>
                
              
            <h2 data-aos="fade-right">ПОЧЕМУ ИМЕННО МЫ</h2>
            <p>
                Гарантируем качество услуг и товаров. Так как наши эксперты в штатах проверяют лично авто перед торгами, в отличии от конкурентов.
            </p>

            <p> 
                Мы можем дать 100% гарантию на цену авто под. ключ или авто до 100 000км.
            </p>
            <p> 
                Нам доверяют наши клиенты.
            </p>

            <p>    
                Доставка из США в РФ. Свой терминал в New Jersey.
            </p>

            <p>
                Свои автовозы которое привезут Ваши машинки прямо Вам в руки.
            </p> 

            <p>
                Помогаем нашим клиентам подобрать лучший автомобиль в Российской Федерации.
            </p>
            
            <p>
                Предлагаем лучшие условия обмена старого авто на новое, услуга Trade-in.
            </p> 
        </div>

            <div class = "midle_container">

                <div class="section-title-box">
                    <h2 data-aos="zoom-in">РЕАЛЬНЫЕ ФАКТЫ</h2>
                    <h3>НЕКОТОРЫЕ ФАКТЫ О НАШЕЙ ДЕЯТЕЛЬНОСТИ</h3>
                </div>
                
                <div>
                    <ul class = "list-progress list-unstyled">
                        <li class = "list-progress__item">
                            <div class = "list-progress__inner">

                                <i class="fa-solid fa-dollar-sign"></i><!--иконка-->

                                <h1 class = "chart">6237+</h1>
                                <h3 class="list-progress__name">ПРОДАЛИ АВТО</h3>
                            </div>
                        </li>
                            
                        <li class = "list-progress__item">
                            <div class = "list-progress__inner">

                                <i class="icon fa fa-car"></i><!--иконка-->

                                <h1 class = "chart">200+</h1>
                                <h3 class="list-progress__name">ЕЖЕМЕСЯЧНО ПРОДАЕМ</h3>
                            </div>
                        </li>

                        <li class = "list-progress__item">
                            <div class = "list-progress__inner">

                                <i class="icon fa fa-hand-peace-o"></i><!--иконка-->

                                <h1 class = "chart">1329+</h1>
                                <h3 class="list-progress__name">ПОСТОЯННЫХ КЛИЕНТОВ</h3>
                            </div>
                        </li>

                        <li class = "list-progress__item">
                            <div class = "list-progress__inner">

                                <i class="icon fa fa-home"></i><!--иконка-->

                                <h1 class = "chart">5</h1>
                                <h3 class="list-progress__name">ОФИСОВ</h3> 
                            </div>
                        </li>

                        <li class = "list-progress__item">
                            <div class = "list-progress__inner">

                                <i class="icon fa fa-car"></i><!--иконка-->

                                <h1 class = "chart">3</h1>
                                <h3 class="list-progress__name">АВТОСАЛОНОВ</h3> 
                            </div>
                        </li>

                    </ul>

                </div>

            </div>
            
            <div class = "bottom_container">
            <h2 class = "better">НАШИ ПРЕИМУЩЕСТВА ПЕРЕД КОНКУРЕНТАМИ</h2>
            <h3>Договор</h3>
            <p>Подписываем договор, все платежи на банковские счета.</p>
            
            <h3>Отчёты</h3>
            <p>Видео и фото сопровождение от момента покупки к моменту передачи автомобиля клиенту.</p>
            
            <h3>Проверка</h3>
            <p>Проверка и осмотр машины перед торгами + страховая история автомобиля. 
                Партнерские соглашения с аукционами в США дают возможность нашим специалистам лично выезж
                ать на аукцион и проводить инспекцию авто перед торгами.
            </p>
            
            <h3>Доставка</h3>
            <p>Самые доступные цены по доставке авто, рабатаем как через порты Европы, Германии, России.</p>
            
            <h3>Команда</h3>
            <p>Наши профессионалы занимаются подбором, покупкой и доставкой машин. Мы работаем без посредников.</p>
            </div>
            
            <h1 data-aos="fade-right">ЧТО ВЫ ДОЛЖНЫ О НАС ЗНАТЬ?</h1>
            
            <div class = "text_div">
                <p>1. Подбираем автозапчасти и делаем ремонт и тюнинг авто на нашем СТО в Грузии. 
                    Это чаще всего не дороже, чем в России, но качество говорит само за себя. 
                    Вы получите готовый автомобиль из США под ключ и сразу сможете насладиться поездкой.
                </p>
                <p>2. У нас есть Дилерская Лицензия от штата Флорида, поэтому вся наша работа сопровождается 
                    официальными партнерскими соглашениями со страховыми и логистическими компаниями, 
                    аукционами и портом. Таким образом правительство США гарантирует, что после выкупа 
                    авто доедет до порта, будет застраховано и без задержек отплывет.
                </p>
                <p>3. Партнерские соглашения с аукционами в США дают возможность нашим специалистам 
                    лично выезжать на аукцион и проводить инспекцию авто перед торгами.
                </p>
                <p>4. Благодаря партнерскому соглашению с портом Майами мы регулируем на 
                    какой высоте будет размещен контейнер с вашим авто из США при погрузке на корабль. 
                    Мы ставим контейнеры на верхних 3 и 4 ярусах. Это позволяет минимизировать уровень 
                    влаги и риски попадания морской воды по сравнению с нижними ярусами. Мы гарантируем 
                    безопасность и сохранность вашего авто на всем пути доставки.
                </p>
                <p>5. Самая быстрая доставка авто из США за 30-55 дней
                    (срок доставки по морю).
                </p>
            </div>

            <div class = "img_div">

            </div>


        </article>    
    </main>
{% endblock %}