{% extends 'main/layout.html' %}
{% load static %}
<!--link-->
{% block link%}
    <link rel="stylesheet" href="{% static 'main/css/straxovanie.css' %}">
    <link rel="stylesheet" href="fonts/AudiTypeScreen-Light/style.css" type="text/css" />
    <link rel="stylesheet" href="fonts/Ubuntu/ubuntu.css" type="text/css" />
{% endblock %}

<!--title-->
{% block title %}
    Страхование
{% endblock %}

<!--header-->
{% block header%}
    
{% endblock %}

<!-- Блок с картинкой -->
{% block Article%}
    <div id = "div_slogan" data-aos="fade-up" data-aos-anchor-placement="center-bottom"><p id = "Slogan"> Страхование</p></div>
{% endblock %}

<!--main-->
{% block main%}
    <main>
        <article >
            <script>AOS.init()</script>

            <h1 data-aos="fade-right">Страхование автомобилей в DREAM CARS</h1>
            <div>
                <p>
                    В автоцентрах DREAM CARS предлагается следующие виды страхования:
                    <br>
                    - ОСАГО
                    <br>
                    - КАСКО
                    <br>
                    - Зеленая карта
                    <br>
                    <br>
                    Нашими партнерами по страхованию являются все ключевые компании:<br>
                    - ЗАО «Страховая Компания «Евроинс»,
                    <br>
                    - БРУСП «Белгосстрах»,
                    <br>
                    - ЗАО «СК «Белросстрах»,
                    <br>
                    - ЗАСО «Промтрансинвест»,
                    <br>
                    - ЗАСО «ИНГОССТРАХ»,
                    <br>
                    - ЗАСО «ТАСК»,
                    <br>
                    - ЗАСО "Имклива Иншуранс".
                    <br>
                    <br>
                    Страхование в автоцентре имеет ряд преимуществ и позволит вам:
                    <br>
                    <br>
                    1. Выбрать для себя наиболее выгодное предложение по страхованию рисков, мы лишь поможем вам сделать правильный выбор, приведя различные варианты достоверных расчетов.
                    <br>
                    <br>
                    2. Для клиентов автоцентра Audi предусмотрены особые условия и гибкая система скидок от страховых компаний-партнеров.
                    <br>
                    <br>
                    3. К вашим услугам отдельный сотрудник автоцентра, к которому вы сможете обратиться при наступлении страхового случая. Система «удаленного урегулирования убытков» позволит вам значительно сократить время и нервы на обращении в страховую компанию, проведение процедуры оценки причиненного ущерба, подготовки документов для получения направления на СТО и ремонта вашего автомобиля. Больше не нужно ездить в страховую компанию, мы сделаем это за вас.
                    <br>
                    <br>
                    4. Мы работаем по принципу «одного окна» - оформляйте страховые полисы, производите оплату очередных взносов, продляйте договора, оформляйте страховые случае в нашем автоцентре. Мы работаем, чтобы вы всегда чувствовали спокойствие и заботу о вашем комфорте.
                    <br>
                    <br>
                    По всем вопросам, связанным со страхованием, обращайтесь к специалисту по финансовому сервису Татьяне по телефону:
                    <div id = "baton"><a href = "tel:+375336797270"><span>+375336797270</span></a></div>
                </p>

                {% if request.user.is_authenticated %}
                    {% if error %}
                        <h3 style="color:forestgreen;">{{ error }}</h3>
                    {% else%}
                        <h3 data-aos="fade-right" >Запрос страхования </h3> 
                    {% endif %}
                    
                    <form method = "POST" enctype="multipart/form-data">

                        {% csrf_token %}<br>
                        {{ form.fio }}<br>
                        {{ form.tel_number }}<br>
                        {{ form.comment }}<br>
                    
                        <button class = "btn btn-success" type = "submit" id = "button">Отправить</button>
                    </form>
                    <!-- {% if data.error %} -->
                    <!-- <h3>{{ error }}</h3> -->
                    <!-- {% endif %} -->
                {% else %}
                    <h3 data-aos="fade-right">Запрос на страхование могут оставить только аутентифицированные пользователи</h3>
                {% endif %}
                
                
            </div>
            <div id = "right_div">

                <h2>DREAM CARS Центр Минск</h2>
                <h4>Отдел продаж новых автомобилей</h4>
                    <p><a href = "tel:+375291361414">+375 29 136 14 14</a></p><br>
                    <p><a href = "tel:+375173118888">+375 17 311 88 88</a></p><br>
                <h4>Отдел продаж авто с пробегом</h4>
                    <p><a href = "tel:+375445999232">+375 44 5 999 232</a></p><br>
                    <p><a href = "tel:+375173118888">+375 17 311 88 88</a></p><br>

            </div>
            

            
        </article>    
    </main>
{% endblock %}